<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.change-password.title}"></title>
    <link rel="icon" type="image/svg+xml" th:href="@{/img/logo.svg}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<div class="container">
    <div class="row">
        <div class="profile-form-body col-6">
            <div class="profile-form-title-body">
                <div class="col-10"><h2 class="profile-form-title" th:text="#{change.password.form.title}"></h2></div>
                <div class="col-2"><a th:href="@{/profile}" class="btn btn-cancel"><i class="fa-solid fa-xmark"></i></a></div>
            </div>
            <div class="profile-form">
                <form id="profile-password-form" th:action="@{/profile/change_password}" method="post">
                    <div class="profile-form-item">
                        <label for="password" class="form-label" th:text="#{profile.password}"></label>
                        <div class="password-container">
                            <input type="password" id="password" name="password" class="form-control"
                                   th:classappend="${passwordError} ? ' is-invalid' : ''"
                                   th:placeholder="#{profile.form.placeholder.password}" required>
                            <button type="button" id="toggle-password" class="toggle-password">
                                <img id="eye-icon" th:src="@{/img/eye-password.svg}" alt="view password">
                                <span class="eye-cross"></span>
                            </button>
                        </div>
                        <div class="invalid-feedback" th:if="${passwordError}" th:text="${passwordError}"></div>
                    </div>
                    <div class="profile-form-item">
                        <label for="confirm-password" class="form-label" th:text="#{profile.confirm-pass}"></label>
                        <input type="password" id="confirm-password" name="confirmPassword" th:classappend="${confirmPasswordError} ? ' is-invalid' : ''"
                               th:placeholder="#{profile.form.placeholder.confirm-pass}" class="form-control" required>
                        <div class="invalid-feedback" th:if="${confirmPasswordError}" th:text="${confirmPasswordError}"></div>
                    </div>
                    <div class="profile-form-item">
                        <button type="submit" class="btn-profile-submit">
                            <span th:text="#{profile.btn.save}"></span> <i class="fa-solid fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer}"></div>
<script th:src="@{/js/auth.js}"></script>
</body>
</html>
