<header id="header">
    <div class="container header">
        <div class="row">
            <div class="nav">
                <div class="col-8 col-md-9 col-lg-5 col-xl-5">
                    <div class="logo">
                        <a href="/"><strong>Dev</strong>Track<img th:src="@{/img/logo.svg}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-4 col-md-3 col-lg-2 col-xl-2">
                    <div class="lang-switcher">
                        <a th:href="@{__${requestURI}__(lang='en')}" class="lang-btn" th:classappend="${#locale.language == 'en'} ? 'active'">
                            <img src="/img/flags/en.svg" alt="English" width="32" height="32">
                        </a>
                        <a th:href="@{__${requestURI}__(lang='uk')}" class="lang-btn" th:classappend="${#locale.language == 'uk'} ? 'active'">
                            <img src="/img/flags/ua.svg" alt="Українська" width="32" height="32">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5 col-xl-5">
                    <nav class="nav-bar">
                    <div class="nav-row">
                        <ul class="nav-list">
                            <li class="nav-list-item">
                                <a th:href="@{/}"
                                   th:classappend="${requestURI == '/home' ? 'nav-list-link--active' : ''}"
                                   th:text="#{nav.home}"
                                   class="nav-list-link"></a>
                            </li>
                            <li class="nav-list-item">
                                <a th:href="@{/projects}"
                                   th:classappend="${requestURI.startsWith('/projects') ? 'nav-list-link--active' : ''}"
                                   th:text="#{nav.projects}"
                                   class="nav-list-link"></a>
                            </li>
                            <li class="nav-list-item">
                                <a th:href="@{/profile}"
                                   th:classappend="${requestURI.startsWith('/profile') ? 'nav-list-link--active' : ''}"
                                   th:text="#{nav.profile}"
                                   class="nav-list-link"></a>
                            </li>
                            <li class="nav-list-item btn-logout">
                                <a th:href="@{/auth/login?logout=true}" class="nav-list-link">
                                    <i class="fa-solid fa-door-open"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
