@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #F4F9FD;
}

/** Header **/
.header {
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    min-height: 70px;
    margin-top: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
}

.nav {
    padding: 20px 0;
    color: #000;
    letter-spacing: normal;
}

.logo {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 42px;
}

.logo a {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    color: #000;
    float: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.logo strong {
    font-weight: 900;
    color: #3F8CFF;
}

.logo img {
    width: 30px;
    margin-left: 10px;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 42px;
}

.nav-list {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    flex-direction: row;
    font-size: 20px;
    margin: 0;
    padding-right: 20px;
}

.nav-list-item {
    list-style: none;
}

.nav-list-link {
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.nav-list-link:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.nav-list-link--active {
    position: relative;
}

.nav-list-link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: #3F8CFF;
}

.btn-logout {
    background-color: #E63946;
    border-radius: 10px;
    width: 40px;
    padding: 3px;
}

.btn-logout a {
    color: #fff;
    display: flex;
    justify-content: center;
}

.btn-logout a:hover {
    opacity: 0.8;
    border: none;
    transition: all 0.5s ease-in-out;
}

/** Home page **/
.greetings-block {
    background-image: url(../img/banner.jpg);
    color: #000;
    border-radius: 30px;
    margin-top: 45px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.25);
}

.hello {
    display: block;
    margin: 100px auto 60px auto;
    text-align: center;
}

.hello h1 {
    font-size: 40px;
    font-weight: 900;
}

.hello h3 {
    font-size: 34px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 3px;
}

.hello p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hello span {
    color: #3F8CFF;
    font-weight: 900;
}

.btn-record {
    background-color: #3F8CFF;
    border-radius: 30px;
    width: 140px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-record a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.btn-record a:hover {
    opacity: 0.8;
    border: none;
    transition: all 0.5s ease-in-out;
}

.btn-record i {
    padding-left: 10px;
    font-size: 16px;
}
